<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>

<body>
<div th:replace="~{base :: menu}"></div>
<div th:replace="~{base :: nav}"></div>

<!--<div class="container">-->

<!--  <div th:replace="~{base :: titulo('Livros')}"></div>-->


<!--  <div class="card" th:each="livro : ${livros}">-->
<!--    <div th:text="${livro.titulo}">Titulo:</div>-->
<!--    <div th:text="${livro.autor}">Autor:</div>-->
<!--    <div th:text="${livro.editora}">Autor:</div>-->
<!--    <div th:text="${livro.genero}">Genero:</div>-->
<!--    <div th:text="${livro.sinopse}">Sinopse:</div>-->
<!--    <div th:text="${livro.anoLancamento}">Ano de lançamento:</div>-->
<!--    <div>-->
<!--      <img th:src="${livro.url}" src=""/>-->
<!--    </div>-->
<!--    <div>Ver avaliações</div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">

  <div th:replace="~{base :: titulo('Livros')}"></div>

  <div class="card mb-3" th:each="livro : ${livros}">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-8 mb-3">
          <div class="row">
            <div class="col-md-5">Titulo: <span th:text="${livro.titulo}"></span></div>
            <div class="col-md-7" >Diretor: <span th:text="${livro.autor}"></span></div>
            <div class="col-md-9">Elenco príncipal: <span th:text="${livro.editora}"></span></div>
            <div class="col-md-12">Gênero: <span th:text="${livro.genero}"></span></div>
            <div class="col-md-14">Ano lançamento: <span th:text="${livro.anoLancamento}"></span></div>
            <div class="col-md-16">Páis de origem: <span th:text="${livro.pais}"></span></div>
          </div>
          <div>Sinopse:</div>
          <div th:text="${livro.sinopse}">Sinopse:</div>
        </div>
        <div class="col-12 col-sm-4">
          <div>
            <img class="img" th:src="${livro.url}" src=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>